      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            {% for key, value in menu_dict.items() %}
                {% if key == title %}
                    <li class="selected"><a href="{{ value }}">{{ key }}</a></li>
                {% else %}
                    <li><a href="{{ value }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
      </div>